## Coursera Capstone

This notebook will be used for the IBM Data Science Capstone Project.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [3]:
df = pd.read_csv('Collisions.csv')
print(df.shape)
df.head()

(221144, 40)

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,-122.288688,47.532714,1,29800,29800,1177964,Unmatched,Block,NaN,BEACON ER AVE S BETWEEN S PORTLAND ST AND S CH...,...,NaN,NaN,NaN,4315006.0,NaN,NaN,NaN,0,0,N
1,NaN,NaN,2,115700,115700,10097005,Unmatched,NaN,NaN,NaN,...,NaN,NaN,NaN,10097005.0,NaN,NaN,NaN,0,0,N
2,-122.355556,47.727318,3,1358,1358,3568600,Matched,Block,NaN,GREENWOOD AVE N BETWEEN N 134TH ST AND N 136TH ST,...,Dry,Daylight,NaN,NaN,NaN,28,From opposite direction - one left turn - one ...,0,0,N
3,-122.317563,47.618764,4,70700,70700,2806057,Matched,Block,NaN,E DENNY WAY BETWEEN 11TH AVE AND 12TH AVE,...,Dry,Other,NaN,7065007.0,NaN,32,One parked--one moving,0,0,N
4,-122.361015,47.538551,5,53600,53600,2127310,Matched,Block,NaN,DELRIDGE WAY SW BETWEEN SW MYRTLE ST AND SW OR...,...,Dry,Daylight,NaN,6137017.0,NaN,14,From same direction - both going straight - on...,0,0,N

Data has 40 columns and 221144 rows.

In [4]:
df.dtypes

X                  float64
Y                  float64
OBJECTID             int64
INCKEY               int64
COLDETKEY            int64
REPORTNO            object
STATUS              object
ADDRTYPE            object
INTKEY             float64
LOCATION            object
EXCEPTRSNCODE       object
EXCEPTRSNDESC       object
SEVERITYCODE        object
SEVERITYDESC        object
COLLISIONTYPE       object
PERSONCOUNT          int64
PEDCOUNT             int64
PEDCYLCOUNT          int64
VEHCOUNT             int64
INJURIES             int64
SERIOUSINJURIES      int64
FATALITIES           int64
INCDATE             object
INCDTTM             object
JUNCTIONTYPE        object
SDOT_COLCODE       float64
SDOT_COLDESC        object
INATTENTIONIND      object
UNDERINFL           object
WEATHER             object
ROADCOND            object
LIGHTCOND           object
PEDROWNOTGRNT       object
SDOTCOLNUM         float64
SPEEDING            object
ST_COLCODE          object
ST_COLDESC          object
SEGLANEKEY           int64
CROSSWALKKEY         int64
HITPARKEDCAR        object
dtype: object

In [5]:
df.describe()

,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,213675.000000,213675.000000,221144.000000,221144.000000,221144.000000,71774.000000,221144.000000,221144.000000,221144.000000,221144.000000,221144.000000,221144.000000,221144.000000,221143.000000,1.272050e+05,221144.000000,2.211440e+05
mean,-122.330748,47.620206,110572.500000,144499.335261,144726.158928,37617.166258,2.226459,0.038115,0.027299,1.729271,0.373842,0.015158,0.001682,13.383670,7.971063e+06,261.585804,9.591375e+03
std,0.030051,0.056033,63838.918302,88953.719744,89326.449360,51918.292696,1.470580,0.201756,0.164363,0.830665,0.732113,0.157951,0.044574,7.303437,2.611523e+06,3249.740639,7.151363e+04
min,-122.419091,47.495573,1.000000,1001.000000,1001.000000,23807.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.007024e+06,0.000000,0.000000e+00
25%,-122.349280,47.577309,55286.750000,71572.750000,71572.750000,28653.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,11.000000,6.007029e+06,0.000000,0.000000e+00
50%,-122.330348,47.616053,110572.500000,127061.500000,127061.500000,29973.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,11.000000,8.033011e+06,0.000000,0.000000e+00
75%,-122.311998,47.664282,165858.250000,209528.250000,209748.250000,33983.750000,3.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,14.000000,1.018101e+07,0.000000,0.000000e+00
max,-122.238949,47.734142,221144.000000,333528.000000,335028.000000,757580.000000,93.000000,6.000000,2.000000,15.000000,78.000000,41.000000,5.000000,87.000000,1.307202e+07,525241.000000,5.239700e+06

In [6]:
# See which columns (if any) has null values
df.isna().any()

X                   True
Y                   True
OBJECTID           False
INCKEY             False
COLDETKEY          False
REPORTNO           False
STATUS             False
ADDRTYPE            True
INTKEY              True
LOCATION            True
EXCEPTRSNCODE       True
EXCEPTRSNDESC       True
SEVERITYCODE        True
SEVERITYDESC       False
COLLISIONTYPE       True
PERSONCOUNT        False
PEDCOUNT           False
PEDCYLCOUNT        False
VEHCOUNT           False
INJURIES           False
SERIOUSINJURIES    False
FATALITIES         False
INCDATE            False
INCDTTM            False
JUNCTIONTYPE        True
SDOT_COLCODE        True
SDOT_COLDESC        True
INATTENTIONIND      True
UNDERINFL           True
WEATHER             True
ROADCOND            True
LIGHTCOND           True
PEDROWNOTGRNT       True
SDOTCOLNUM          True
SPEEDING            True
ST_COLCODE          True
ST_COLDESC          True
SEGLANEKEY         False
CROSSWALKKEY       False
HITPARKEDCAR       False
dtype: bool

In [7]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns, 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', ascending=False, inplace=True)
missing_value_df

                     column_name  percent_missing
PEDROWNOTGRNT      PEDROWNOTGRNT        97.654017
SPEEDING                SPEEDING        95.517853
EXCEPTRSNDESC      EXCEPTRSNDESC        94.677224
INATTENTIONIND    INATTENTIONIND        86.349166
INTKEY                    INTKEY        67.544225
EXCEPTRSNCODE      EXCEPTRSNCODE        54.445520
SDOTCOLNUM            SDOTCOLNUM        42.478656
LIGHTCOND              LIGHTCOND        12.064989
WEATHER                  WEATHER        12.025196
ROADCOND                ROADCOND        11.989021
ST_COLDESC            ST_COLDESC        11.939732
COLLISIONTYPE      COLLISIONTYPE        11.939732
UNDERINFL              UNDERINFL        11.930688
JUNCTIONTYPE        JUNCTIONTYPE         5.409145
ST_COLCODE            ST_COLCODE         4.256503
Y                              Y         3.377437
X                              X         3.377437
LOCATION                LOCATION         2.073762
ADDRTYPE                ADDRTYPE         1.678544
SDOT_COLDESC        SDOT_COLDESC         0.000452
SEVERITYCODE        SEVERITYCODE         0.000452
SDOT_COLCODE        SDOT_COLCODE         0.000452
SEGLANEKEY            SEGLANEKEY         0.000000
CROSSWALKKEY        CROSSWALKKEY         0.000000
SERIOUSINJURIES  SERIOUSINJURIES         0.000000
INCDTTM                  INCDTTM         0.000000
INCDATE                  INCDATE         0.000000
FATALITIES            FATALITIES         0.000000
INJURIES                INJURIES         0.000000
VEHCOUNT                VEHCOUNT         0.000000
PEDCYLCOUNT          PEDCYLCOUNT         0.000000
PEDCOUNT                PEDCOUNT         0.000000
PERSONCOUNT          PERSONCOUNT         0.000000
SEVERITYDESC        SEVERITYDESC         0.000000
STATUS                    STATUS         0.000000
REPORTNO                REPORTNO         0.000000
COLDETKEY              COLDETKEY         0.000000
INCKEY                    INCKEY         0.000000
OBJECTID                OBJECTID         0.000000
HITPARKEDCAR        HITPARKEDCAR         0.000000

In [24]:
df['SEVERITYCODE'] = df['SEVERITYCODE'].astype('category')
df['SEVERITYCODE'] = df['SEVERITYCODE'].cat.codes
df['SEVERITYCODE'].describe()

count    221144.000000
mean          2.200245
std           0.627028
min           0.000000
25%           2.000000
50%           2.000000
75%           3.000000
max           5.000000
Name: SEVERITYCODE, dtype: float64